    <section class="features pt-60 pt-lg-100 pb-20 pb-lg-60" id="features-3">
        <div class="container">
            <h1 class="text-center mb-40 mb-lg-60">Features</h1>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature One</h3>

                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature Two</h3>

                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature Three</h3>

                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature Four</h3>

                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature Five</h3>

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature Six</h3>

                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature Seven</h3>

                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3 d-flex mb-40">
                    <div class="mr-15"><img src="{{ 'check-36.svg' | asset_url }}" alt=""></div>

                    <div>
                        <h3 class="mb-10">Feature Eight</h3>

                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
