{% comment %}
  A word on drop-down menus: Shopify has no concept of them.
  Drop-down menus in Shopify themes are a hack that relies on a naming convention.
  To create a drop-down menu, the merchant must create a link list that has the same name as the link he wants the drop-down for.
  For example, if he wants a drop-down under a 'Shop by brand' link (say, he has such link in his Main Menu), he needs to create a linklist called 'Shop by brand', and populate it with links. Once he has done that, there'll be a drop-down under 'Shop by brand'.
  Shopify has a visual how-to guide here: http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu.
  The naming convention hack won't work well if a shop's navigation uses non-English characters. There's a much more verbose coding solution that handles non-English characters here: http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/translations/can-i-have-drop-down-menus-that-use-non-english-characters.
  A word on sub-categories: Shopify manages sub-categories using product tags: http://docs.shopify.com/manual/configuration/store-customization/page-specific/collections/subcategories
{% endcomment %}

    <!-- Menu -->

    <section class="headers" id="headers-19">
        <div id="navbar" class="ph-15 ph-sm-30 ph-lg-70 bg-light fixed-navbar fixed-navbar-notification">
            <div class="row justify-content-center align-items-center justify-content-sm-between h-100">
                <div class="col-auto">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto" id="company-logo">
                            <a href="{{ shop.url }}">{{ 'living-streets.svg' | asset_url | img_tag: shop.name }}</a>
                        </div>

                        <div class="col-auto d-none d-lg-block">
                            <nav class="navbar navbar-left">
	                            {% for link in linklists.main-menu.links %}
	                            <a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
	                            {% endfor %}
	                        </nav>       
                        </div>
                    </div>
                </div>

                <div class="col-auto d-none d-lg-block">
                    <nav class="navbar">                       
                        <a href="" class="cart">{{ 'user-round-50-thick.svg' | asset_url | img_tag: '' }}</a>
                        <a href="{{ shop.url }}/cart" class="cart">{{ 'cart.svg' | asset_url | img_tag: '' }}</a>
                    </nav>
                </div>

                <div class="col-auto d-block d-lg-none">
                    <nav class="navbar"><a class="hamburger" id="responsive">{{ 'hamburger.svg' | asset_url | img_tag: '' }}</a></nav>
                </div>
            </div>
        </div>
    </section><!-- Mobile menu -->

    <div class="row justify-content-center align-items-center d-lg-none">
        <div id="mobile-navbar" class="mobile-navbar">

            {% for link in linklists.main-menu.links %}
            <p><a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a></p>
            {% endfor %}

            <p><a href="">{{ 'user-round-50-thick.svg' | asset_url | img_tag: '' }}</a></p>
            <p><a href="{{ shop.url }}/cartt">{{ 'cart.svg' | asset_url | img_tag: '' }}</a></p>
        </div>
    </div><!-- Menu -->
