<a href="{{ product.url }}">
<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-15 mb-sm-30">
    <div class="h-400 with-overlay p-30 d-flex justify-content-center">
        <div class="product-box align-self-end text-center">
            
            <div class="product-box-image">
            	<img class="mb-50" src="{{ product | img_url: 'x160'}}" alt="">
            	
            	<div class="product-box-button">
	            	<a href="{{ product.url }}"> </a>
            	</div>
            
            </div>
                      
            <div class="product-box-footer">
            	<h3>{{ product.title }}</h3>
                {%- if product.price > 0 -%}
				<p id="tape" class="tape-thin tape-box-orange tape-green tape-rotate-a-2 tape-removed">{{ product.price | money }} {{ settings.tax_format }}</p>
                {%- endif -%}
            </div>
            
        </div>
    </div>
</div>
</a>
                     
