<div class="col-12 col-sm-12 col-md-8 col-lg-6 mb-15 mb-sm-30 p-20 pt-30">
    <div class="featured-product">
	    <div class="featured-product-row">
			<img class="featured-product-box-left" src="{{ product | img_url: 'x200'}}" alt="">
			<div class="featured-product-box-right pl-20 text-left">
			    <h4 class="featured-product-title"><strong>{{ product.title }}</strong></h4>
			    <div class="product-description short-description product-description-small pt-10">{{ product.description }}</div>
			</div>
	    </div>
	    <div class="featured-product-row d-none d-sm-none d-md-block">  
			<div class="featured-product-box-left featured-product-box-60 pathway-box"><div class="pathway"></div></div>
			<div class="featured-product-box-right featured-product-box-30 featured-button-box text-left">
			    <a href="{{ product.url }}" class="btn btn-block featured-button">Order</a>
			</div>
	    </div>

	    <div class="featured-product-row d-block d-sm-block d-md-none">  
			<div class="featured-product-box-right featured-product-box-100 featured-button-box text-left">
			    <a href="{{ product.url }}" class="btn btn-block featured-button">Order</a>
			</div>
	    </div>
	    
	 </div>

</div>
                     
