
<div class="sliders text-center p-50" id="sliders-1">
	
	<div class="container">
		
	<div class="text-left pb-20 ml--30">
		<h2 id="tape" class="tape-box-green tape-removed tape-light-padding tape-rotate-c-1 d-inline-block">Related Products</h2>
	</div>
    <div class="slider slider-rounded-buttons mb-40" id="related-products-{% if section.settings.show_dots == 'no' %}no-{% endif %}dots">    
	    {% for related in collection.products %}
		  	{% unless related.handle == product.handle %}     
	  		    <div class="col-12 col-sm-6 col-lg-4 slider-item">
			    <a href="{{ related.url }}">
			    <img class="mb-30" src="{{ related | img_url: 'x100'}}" alt="">
	
	            <h4>{{ related.title }}</h4>
	
				{% if related.price > 0 %}
	            <div class="mt-10">
	            <p id="tape" class="tape-box-orange tape-thin tape-removed tape-rotate-{% cycle 'c-1', 'a-2', 'c-2', 'c-1', 'a-1', 'a-3' %} d-inline-block">{{ related.price | money }} {{ settings.tax_format }}</p>
	            </div>
	            {% endif %}
			    </a>
	            </div>
			 {% endunless %}			
		{% endfor %}
    </div>
	    {% if section.settings.show_all == 'yes' %}
	    <div class="mt-20">
		    <p><a class="btn btn-small" href="{{ collection.url }}">View all related products</a></p>
	    </div>
	    {% endif %}
	</div>
</div>
