{% if block.settings.hero_image %}
<style>
#hero-box {
  background: url("{{ block.settings.hero_image | img_url: 'x1024' }}") no-repeat center center{% if block.settings.fixed_image %} fixed{% endif %}; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}	
</style>   
{% endif %}
    
    <section class="headers bg-{{ block.settings.hero_colour}} pb-50" id="hero-box">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 col-lg-8">
                    <h1 id="tape" class="mb-20 tape-box-green tape-yellow tape-rotate-a-1">{{ block.settings.headline | escape }}</h1>
                    
                    {% if block.settings.strapline %}
                    {% capture string_with_newlines %}{{ block.settings.strapline }}{% endcapture %}
                    <h4 id="box" class="mb-60 box-orange much-lighter text-black lighter">{{ string_with_newlines | newline_to_br }}</h4>
                    {% endif %}
                </div>
            </div>

            <form class="mt-20 mb-40 box-align">
                <div class="row">
                    {% if block.settings.show_more_button %}
                    <div class="col-12 col-sm-4 col-lg-2 mb-20">
                        <a href="#more-info" class="btn w-full no-padding"><span>Find out more</span></a>
                    </div>
					{% endif %}
					{% if block.settings.buy_url %}
                    <div class="col-12 col-sm-4 col-lg-2 mb-20">
                        <a href="{{ block.settings.buy_url }}" class="btn w-full no-padding"><span>Buy</span></a>
                    </div>
                    {% endif %}
                </div>
            </form>

        </div>
    </section>
    
    <div id="more-info"></div>
    