<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
	<title>
	{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>
  
   {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
   {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
 
   {% include 'open-graph-tags' %}
   {% include 'twitter-card' %}
  
   {{ content_for_header }}
   
   {{ 'bootstrap-grid.min.css' | asset_url | stylesheet_tag }}
   {{ 'bootstrap-carousel.css' | asset_url | stylesheet_tag }}
   {{ 'main.css' | asset_url | stylesheet_tag }}
   {{ 'flickity.css' | asset_url | stylesheet_tag }}
   {{ 'custom.scss.css' | asset_url | stylesheet_tag }}  
   
   {{ '//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' | script_tag }}

   {{ 'bootstrap.min.js' | asset_url | script_tag }}
   {{ 'flickity.js' | asset_url | script_tag }}
   {{ 'jquery.smoothscroll.js' | asset_url | script_tag }}


</head>

<body>

{% include 'notification' %} 

{% section 'navbar' %}


{{content_for_layout}}


{% section 'footer' %}

{% include 'designer' %}

    
    {{ 'custom.js' | asset_url | script_tag }}

</body>
</html>
