{% schema %}
{
  "name": "Builder",
  "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	{
		"id": "number-on-roll",
		"type": "text",
		"label": "Number on roll",
		"default": "How many children are there in your school?",
		"info": "The label that appears above the first box."
	},
	{
		"id": "percentage",
		"type": "text",
		"label": "Percentage",
		"default": "What percentage walk to school?",
		"info": "The label that appears above the second box."
	},
	{
		"id": "quantity",
		"type": "text",
		"label": "Quantity",
		"default": "Subscriptions",
		"info": "The label for the quantity."
	},
		{
		"id": "alternative",
		"type": "text",
		"label": "Alternative option",
		"default": "I'd like to use wall charts instead of TravelTracker",
		"info": "Leave blank if you do not want to display the alternative option."
	},
		{
		"id": "add-to-cart",
		"type": "text",
		"label": "Button text",
		"default": "Add to cart"
	},
	{
	    "type":      "range",
	    "id":        "rollover_day",
	    "min":        1,
	    "max":        31,
	    "step":       1,
	    "label":     "Rollover day",
	    "default":   17,
	    "info": "The day used to calculate when the month should be rolled over to the next."
	},
	{
	   "type": "product",
	   "id": "travel_tracker",
	   "label": "Travel Tracker",
	   "info": "Select the Travel Tracker product so that it can be added automatically to the order."
	}
  ]
}
{% endschema %}

<div>

{% assign travel_tracker = all_products[section.settings.travel_tracker] %}

{% assign rollover = section.settings.rollover_day | plus: 0 %}	
{% assign day = "now" | date: "%e" | plus: 0 %}
{% assign month = "now" | date: "%-m" | plus: 0 %}

{% if day >= rollover %}
{% assign m = month | plus: 1 %}
{% else %}
{% assign m = month | plus: 0 %}
{% endif %}

{% comment %}
Calculate the correct variant index from the month
{% endcomment %}
{% if m > 12 %}
{% assign v = 1 %}
{% else %}
{% assign v = m  %}
{% endif %}

</div>

<section class="forms text-center pt-60 pt-lg-100 pb-40 pb-sm-60 pb-lg-80" id="builder">
  <div class="container">
    {% if section.settings.heading %}
    <h2 class="mb-40 text-center">{{ section.settings.heading | escape }}</h2>
	{% endif %}
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="builder_form">
	    
	  <div id="product-variants" class="pb-20 hidden">
        <select id="product-select" name="id">
        {% for variant in product.variants %}
        {% increment variant_counter %}
          <option{% if variant_counter == v %} selected{% endif %} value="{{ variant.id }}">
          {{ variant.title }}
          {% if variant_counter == v %}
          {% assign current_variant = variant %}
          {% endif %}
          </option>
        {% endfor %}
        </select>
        <input type="hidden" id="quantity" name="quantity" value="1">
      </div> 
      
      <div class="row text-left">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-4 mb-20 d-none d-sm-block">
              <div>
	            <p>{{ section.settings.number-on-roll }}</p>
              </div>
            </div>
            <div class="col-12 col-sm-4 mb-20 d-none d-sm-block">
              <div>
	            <p>{{ section.settings.percentage }}</p>
              </div>
            </div>
            <div class="col-12 col-sm-4 mb-20 d-none d-sm-block">
              <div>
	              <p>{{ section.settings.quantity }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4 mb-20">
	          <label class="d-block d-sm-none">{{ section.settings.number-on-roll }}</label>
              <div>
                <input class="form-control form-control-light" type="number" id="numberOnRoll" name="properties[Number on roll]" min="1" step="1" value="200" placeholder=""/>
                <span class="form-control-stepper-wrapper"><span class="stepper glyphicon glyphicon-chevron-up" data-direction="up"></span><span class="stepper glyphicon glyphicon-chevron-down" data-direction="down"></span></span>
              </div>
            </div>
            <div class="col-12 col-sm-4 mb-20">
	          <label class="d-block d-sm-none">{{ section.settings.percentage }}</label>
              <div>
                <input class="form-control form-control-light" type="number" id="percentage" name="properties[Percentage]" min="1" max="100" step="1" value="65" placeholder=""/>
                <span class="glyphicon glyphicon-lock form-control-feedback d-none"></span>
                <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-chevron-up" data-direction="up"></span>
                	<span class="stepper glyphicon glyphicon-chevron-down" data-direction="down"></span>
                </span>
              </div>
            </div>
            <div class="col-12 col-sm-4 mb-20">
	          <label class="d-block d-sm-none">{{ section.settings.quantity }}</label>
              <div>
               <input class="form-control form-control-light" type="number" id="subscriptions" name="properties[Subscriptions]" min="1" step="1" value="130" placeholder=""/>
               <span class="glyphicon glyphicon-lock form-control-feedback"></span>
               <span class="form-control-stepper-wrapper d-none">
                	<span class="stepper glyphicon glyphicon-chevron-up" data-direction="up"></span>
                	<span class="stepper glyphicon glyphicon-chevron-down" data-direction="down"></span>
               </span>
              </div>
            </div>
            <div class="col-12 mb-40"><span class="form-control form-control-light"><span class="glyphicon glyphicon-info-sign"></span> Your selection will be enough for <strong><span id="pupil_number">?</span> pupils </strong>and will run from <strong><span id="start_month">{{ current_variant.title }}</span></strong> until the end of the school year, at a cost of <strong><span id="product-price" itemprop="price"></span></strong>. You will receive <strong><span id="pack_number"></span> packs of 10 badges</strong> for each month plus access to <strong>TravelTracker</strong>.</div> 
          </div>
        </div>
       
        
        <div class="col-12 col-sm-9 col-lg-9">
			{% if section.settings.alternative != "" %}
			<label class="checkbox-wrapper">{{ section.settings.alternative }}
			  <input type="checkbox">
			  <span class="checkmark"></span>
			</label>
			{% endif %}
        </div>
        
        <div class="col-12 col-sm-3 col-lg-3">
          <input class="btn w-full no-padding" type="submit" name="add" id="add" value="{{ section.settings.add-to-cart | escape }}">
        </div>
      </div>
      
    </form>
  </div>
</section>	
	
{% comment %}
  Adding support for product options. See here for details:  
  http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}

<script>
	$( document ).ready(function() {

		function calculatePacksFor(subscriptions) {
			var packSize = 10
			var packs = 0
			var quotient = Math.floor(subscriptions/packSize);
			var remainder = subscriptions % packSize;
			if (remainder > 0) {
				packs = quotient + 1
			} else {
				packs = quotient
			}
			return packs
		}
		
		function calculateSubscriptions() {
			
			var numberOnRoll = $("#numberOnRoll").val()
			var percentageWalkIn = $("#percentage").val()
			
			var numberOfSubscriptions = Math.floor((numberOnRoll * (percentageWalkIn /100)))
			$("#subscriptions").val(numberOfSubscriptions)
			$('#pupil_number').text(numberOfSubscriptions)
			var packsRequired = calculatePacksFor(numberOfSubscriptions)
			var price = ((packsRequired * unitPrice) + travelTrackerPrice) / 100
			$('#product-price').text('£' + price.toFixed(2))
			$('#quantity').val(packsRequired)
			$('#pack_number').text(packsRequired)
					
		}
			
		//Set unit price
		var unitPrice = {{ current_variant.price }} //In pence
		var travelTrackerPrice = {{ travel_tracker.variants.first.price }}
		
		//Set initial subscription number in the message
		var initialSubscriptions = $('#subscriptions').val()
		$('#pupil_number').text(initialSubscriptions)
		
		//Set initial numbers, price etc.
		var packsRequired = calculatePacksFor(initialSubscriptions)
		var price = ((packsRequired * unitPrice) + travelTrackerPrice) / 100
			
		$('#product-price').text('£' + price.toFixed(2))
		$('#quantity').val(packsRequired)
		$('#pack_number').text(packsRequired)
		
		
		//Set listeners
		$("#numberOnRoll").change(function(){
		   calculateSubscriptions()
		    
		});

		$("#percentage").change(function(){
		   calculateSubscriptions()
		    
		});

		$("#subscriptions").change(function(){
		    
		});
		
				
						
	});      
</script>

