{% schema %}
{
  "name": "Selection",
  "max_blocks": 3,
  "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	{
		"id": "number-on-roll",
		"type": "text",
		"label": "Number on roll",
		"default": "How many children are there in your school?",
		"info": "The label that appears above the first box."
	},
	{
		"id": "percentage",
		"type": "text",
		"label": "Percentage",
		"default": "What percentage walk to school?",
		"info": "The label that appears above the second box."
	},
	{
		"id": "quantity",
		"type": "text",
		"label": "Quantity",
		"default": "Subscriptions",
		"info": "The label for the quantity."
	},
	{
		"id": "classes",
		"type": "text",
		"label": "Classes",
		"default": "Number of classes",
		"info": "The label for the number of classes."
	},
		{
		"id": "alternative",
		"type": "text",
		"label": "Alternative option",
		"default": "I'd like to use wall charts instead of TravelTracker",
		"info": "Leave blank if you do not want to display the alternative option."
	},
		{
		"id": "add-to-cart",
		"type": "text",
		"label": "Button text",
		"default": "Add to cart"
	},
	{
	    "type":      "range",
	    "id":        "rollover_day",
	    "min":        1,
	    "max":        31,
	    "step":       1,
	    "label":     "Rollover day",
	    "default":   17,
	    "info": "The day used to calculate when the month should be rolled over to the next."
	},
	{
	   "type": "product",
	   "id": "travel_tracker",
	   "label": "Travel Tracker",
	   "info": "Select the Travel Tracker product so that it can be added automatically to the order."
	}
,
	{
	   "type": "product",
	   "id": "wall_charts",
	   "label": "Wallcharts",
	   "info": "Select the Wallcharts product so that it can be added automatically to the order."
	},
	{
	   "type": "radio",
	   "id": "enable_crossell",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Enable cross-sell",
	   "info": "Switch on to show additional products when the buy button is pressed."
	},
	{
	  "type": "text",
	  "id": "cross-sell-heading",
	  "label": "Cross-Sell Heading",
	  "default": "You might also be interested in these..."	,
	  "info": "The heading that will be shown on the cross-sell dialog."
	},
	{
	  "type": "text",
	  "id": "cross-sell-instruction",
	  "label": "Instruction",
	  "default": "Click an item to add it to your cart."	
	},
	{
	  "type": "text",
	  "id": "cross-sell-button",
	  "label": "Button",
	  "default": "Continue"	
	},	
	{
	   "type": "collection",
	   "id": "cross_sell_collection",
	   "label": "Cross-sell collection"
	}
  ],
  "blocks": [
      {
        "type": "text",
        "name": "Images",
        "settings": [
          {
	      "type": "image_picker",
	      "id": "people_image",
	      "label": "People"
          }
        ]
      }
    ]
}
{% endschema %}

<div class="hidden">
	
{% assign travel_tracker = all_products[section.settings.travel_tracker] %}
{% assign travel_tracker_id = travel_tracker.variants.first.id %}

{% assign wall_charts = all_products[section.settings.wall_charts] %}

{% assign rollover = section.settings.rollover_day | plus: 0 %}	
{% assign day = "now" | date: "%e" | plus: 0 %}
{% assign month = "now" | date: "%-m" | plus: 0 %}

{% if day >= rollover %}
{% assign m = month | plus: 1 %}
{% else %}
{% assign m = month | plus: 0 %}
{% endif %}

{% comment %}
Calculate the correct variant index from the month
{% endcomment %}
{% if m > 12 %}
{% assign v = 1 %}
{% else %}
{% assign v = m  %}
{% endif %}

{% for variant in wall_charts.variants %}
{% increment chart_counter %}
  {% if chart_counter == v %}
  {% assign wall_charts_variant = variant %}
  {% endif %}
{% endfor %}


{% for block in section.blocks %}
 	{% if forloop.index == 1 %} {% assign first_image = block.settings.people_image %} {% endif %}
 	{% if forloop.index == 2 %} {% assign second_image = block.settings.people_image %} {% endif %}
 	{% if forloop.index == 3 %} {% assign third_image = block.settings.people_image %} {% endif %}
{% endfor %}

</div>

<section class="forms text-center pb-40 pb-sm-60 pb-lg-80" id="builder">
  
  <div class="container">
	  
	<div class="row">
	
	<div class="col-12 col-sm-6">
		<img class="image pic-md" src="{{ product | img_url: 'x600'}}" alt=""/>
		{% if first_image %}
		<img class="d-none d-md-block pt-50" src="{{ first_image | img_url: 'x50' }}">
		{% endif %}
	</div>
	
	<div class="col-12 col-sm-6">
			
    {% if section.settings.heading %}
    <div class="ml--20 text-left">
    <h2 id="box" class="d-inline-block box-yellow box-slim box-rotate-c-1">{{ section.settings.heading | escape }}</h2>
    </div>
	{% endif %}
	<h3 class="mb-40 text-left">Using <span class="text-green" id="tt_title"><strong>Travel Tracker</strong></span><span id="wc_title" class="text-orange hidden"><strong>Wallcharts</strong></span> to track progress</h3>
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="builder_form">
	    
	  <div id="product-variants" class="pb-20 hidden">
        <select id="product-select" name="id">
        {% for variant in product.variants %}
        {% increment variant_counter %}
          <option{% if variant_counter == v %} selected{% endif %} value="{{ variant.id }}">
          {{ variant.title }}
          {% if variant_counter == v %}
          {% assign current_variant = variant %}
          {% endif %}
          </option>
        {% endfor %}
        </select>
        <input type="hidden" id="quantity" name="quantity" value="1">
      </div> 
      
      <div class="text-left">
       
            <div class="mb-20">
	          <label class="d-block">{{ section.settings.number-on-roll }}</label>
              <div class="w-p-100 w-p-50-sm">
                <input class="form-control form-control-light bg-white outline outline-black-light text-black rounded shadow-small" type="number" id="numberOnRoll" name="properties[Number on roll]" min="1" step="1" value="200" placeholder=""/>
               <span class="form-control-stepper-wrapper form-control-stepper-left">
                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
               </span>
               <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
               </span>  
              </div>
            </div>
            
            <div class="mb-20">
	          <label class="d-block">{{ section.settings.percentage }}</label>
              <div id="percentage-input" class="w-p-100 w-p-50-sm">
                <input class="form-control form-control-light bg-white outline outline-black-light text-black rounded shadow-small" type="number" id="percentage" name="properties[Percentage]" min="1" max="100" step="1" value="65" placeholder=""/>
               <span class="form-control-stepper-wrapper form-control-stepper-left">
                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
               </span>
               <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
               </span>  
               
               <span class="form-control-lock-wrapper">
                	<span id="percentage-lock" class="stepper glyphicon glyphicon-lock stepper-no-border"></span>
               </span>
               
              </div>
            </div>
            
            <div class="mb-20">
	          <label class="d-block">{{ section.settings.quantity }}</label>
              <div id="quantity-input" class="w-p-100 w-p-50-sm locked">
               <input class="form-control form-control-light bg-white outline outline-black-light text-black rounded shadow-small" type="number" id="subscriptions" name="properties[Subscriptions]" min="10" step="10" value="130" placeholder="" readonly />
                              
               <span class="form-control-stepper-wrapper form-control-stepper-left">
                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
               </span>
               <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
               </span> 
               
               <span class="form-control-lock-wrapper">
                	<span id="quantity-lock" class="stepper glyphicon glyphicon-lock stepper-no-border"></span>
               </span>
                
              </div>
            </div>
            
            <div class="mb-20 hidden classes-input">
	          <label class="d-block">{{ section.settings.classes }}</label>
              <div class="w-p-100 w-p-50-sm">
               <input class="form-control form-control-light bg-white outline outline-black-light text-black rounded shadow-small" type="number" id="classes" name="properties[Classes]" min="1" step="1" value="1" placeholder=""/>
<!--                <span class="glyphicon glyphicon-lock form-control-feedback d-none"></span> -->
               <span class="form-control-stepper-wrapper form-control-stepper-left">
                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
               </span>
               <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
               </span>  
              </div>
            </div>
            
            <div class="mb-40">
	            <p class="form-control form-control-light form-control-no-max bg-green text-black rounded shadow-small">
		            <span class="glyphicon glyphicon-info-sign"></span> Your selection will be enough for <strong><span id="pupil_number">?</span> pupils</strong> and will run from <strong><span id="start_month">{{ current_variant.title }}</span></strong> until the end of the school year, at a cost of <strong><span id="product-price" itemprop="price"></span></strong>. <br/><br/>You will receive <strong><span id="pack_number"></span> packs of 10 badges for each month</strong> plus <span id="traveltracker_info" class=""><strong>access to TravelTracker</strong></span><span id="wallchart_info" class="hidden"><strong>wall charts for your selected number of classes</strong>.</span></p>
	            
            </div> <!-- div -->
        
       
        
        <div>
			{% if section.settings.alternative != "" %}
			<label class="checkbox-wrapper">{{ section.settings.alternative }}
			  <input type="checkbox" id="alternative">
			  <span class="checkmark"></span>
			</label>
			{% endif %}
        </div>
        
        <div>
	      {% if section.settings.enable_crossell == "yes" %}
	      <div class="w-p-100 w-p-50-sm">
	      <a href="#" id="show_addons" class="btn w-full no-padding">{{ section.settings.add-to-cart | escape }}</a>
          {% else %}
          <input class="btn w-full no-padding" type="submit" name="add" id="add" value="{{ section.settings.add-to-cart | escape }}">          
          {% endif %}
	      </div>
        </div>
      </div>

{% if section.settings.enable_crossell == "yes" %}

{% assign collection = collections[section.settings.cross_sell_collection] %}

	<div class="cross-sell-overlay">
		<div class="cross-sell rounded shadow text-left">

		<h3 id="tape" class="tape-orange tape-removed tape-slim tape-rotate-a-1 d-inline-block">{{ section.settings.cross-sell-heading }}</h3>

		{% if second_image %}
		<img class="d-none d-md-block image1" src="{{ second_image | img_url: 'x75' }}">
		{% endif %}

		{% if third_image %}
		<img class="d-none d-md-block image2" src="{{ third_image | img_url: 'x75' }}">
		{% endif %}
						
			<div class="row justify-content-center pt-20">
				
				{% for product in collection.products %}
				{% assign product_id = product.variants.first.id %}
				<div class="col-6 col-sm-4">
					<div class="product-box text-center">
						<div class="product-box-image">
							<img src="{{ product | img_url: 'x150'}}" />
							{% if product.available %}
							<div class="product-box-button mt-40">
							<button class="btn add-to-cart" data-id="{{ product_id }}">Add to cart</button>
							</div>
							{% endif %}	
						</div>
						<div class="product-box-footer">
							<p class="product-box-title">{{ product.title }}</p>
							{% if product.available %}
							<p id="tape" class="tape-thin tape-box-orange tape-removed tape-rotate-c-2">{{ product.price | money }} </p>
							{% else %}
							<p id="tape" class="tape-thin tape-box-black tape-removed">Out of Stock</p>
							{% endif %}							
						</div>
						
				
					</div>
				</div>						
				{% endfor %}
								
			</div>
			
			<div class="buttons">
				<input class="btn btn-green" type="submit" name="add" id="add" value="{{ section.settings.cross-sell-button }}">
			</div>
			<p class="instruction">{{ section.settings.cross-sell-instruction }}</p>
		</div>
	</div>

{% endif %}
      
    </form>
    
    </div> <!-- .col -->
    
    </div> <!-- .row -->
  </div> <!-- .container -->
  
</section>	

<script>
	$( document ).ready(function() {
		
		var quantityActive = false
		
		//Set cookie to track wow type
		Cookies.set('wowType', 'unknown');

{% if section.settings.enable_crossell == "yes" %}

		function addCrossSell(id) {
			
			const jsonString = '{ "' + id + '" : 1 }' 
			var cartUpdates = JSON.parse(jsonString)
		
			console.log(cartUpdates)
	
		    var params = {
		      async: true,
		      type: 'POST',
		      url: '/cart/update.js',	
		      data: { updates: cartUpdates },	
		      dataType: 'json'	
		    };
		    
		    $.ajax(params);			
			
		}
	
		$(".add-to-cart").on('click', function(evt){
			addCrossSell($(this).data('id'))
			evt.preventDefault(); 
		});

{% endif %}
		
		function unlockQuantity() {
			$( "#quantity-input" ).removeClass("locked")
			$( "#subscriptions" ).attr("readonly", false)
			$( "#percentage-input" ).addClass("locked")
			$( "#percentage" ).attr("readonly", true)
			quantityActive = true
		}

		function unlockPercentage() {
			$( "#percentage-input" ).removeClass("locked")
			$( "#percentage" ).attr("readonly", false)	
			$( "#quantity-input" ).addClass("locked")
			$( "#subscriptions" ).attr("readonly", true)
			quantityActive = false
		
		}
					
		function calculatePacksFor(subscriptions) {
			var packSize = 10
			var packs = 0
			var quotient = Math.floor(subscriptions/packSize);
			var remainder = subscriptions % packSize;
			if (remainder > 0) {
				packs = quotient + 1
			} else {
				packs = quotient
			}
			return packs
		}
		
		function calculateSubscriptions() {
			
			var numberOnRoll = $("#numberOnRoll").val()
			var percentageWalkIn = $("#percentage").val()
			
			var numberOfSubscriptions = Math.floor((numberOnRoll * (percentageWalkIn /100)))
			$("#subscriptions").val(numberOfSubscriptions)
			$('#pupil_number').text(numberOfSubscriptions)
			var packsRequired = calculatePacksFor(numberOfSubscriptions)
			if (useAlternative) {
				var classes = $("#classes").val()
				var price = ((packsRequired * unitPrice) + (wallChartsPrice * classes)) / 100				
			} else {
				var price = ((packsRequired * unitPrice) + travelTrackerPrice) / 100				
			}
			$('#product-price').text('£' + price.toFixed(2))
			$('#quantity').val(packsRequired)
			$('#pack_number').text(packsRequired)
					
		}
		
		function calculatePercentage() {
			
			var numberOnRoll = $("#numberOnRoll").val()
			var numberOfSubscriptions = $("#subscriptions").val()
			
			var percentageWalkIn = Math.floor((numberOfSubscriptions / numberOnRoll) * 100)
			$("#percentage").val(percentageWalkIn)
			$('#pupil_number').text(numberOfSubscriptions)
			
			var packsRequired = calculatePacksFor(numberOfSubscriptions)
			if (useAlternative) {
				var classes = $("#classes").val()
				var price = ((packsRequired * unitPrice) + (wallChartsPrice * classes)) / 100				
			} else {
				var price = ((packsRequired * unitPrice) + travelTrackerPrice) / 100				
			}
			$('#product-price').text('£' + price.toFixed(2))
			$('#pack_number').text(packsRequired)			
			
		}
		
		function addTravelTrackerToCart() {
			
			Cookies.set('wowType', 'tracker')
			
			var cartUpdates = { {{ travel_tracker_id }}: 1 }
	
		    var params = {
		      async: false,
		      type: 'POST',
		      url: '/cart/update.js',	
		      data: { updates: cartUpdates },	
		      dataType: 'json'	
		    };
		    
		    $.ajax(params);			
			
		}

		function addWallchartsToCart(number) {

			Cookies.set('wowType', 'wallcharts')
			Cookies.set('wallchartsCount', number)
			
			var cartUpdates = { {{ wall_charts_variant.id }}: number }
	
		    var params = {
		      async: false,
		      type: 'POST',
		      url: '/cart/update.js',	
		      data: { updates: cartUpdates },	
		      dataType: 'json'	
		    };
		    
		    $.ajax(params);			
			
		}
					
		//Set unit price
		var unitPrice = {{ current_variant.price }} //In pence
		var travelTrackerPrice = {{ travel_tracker.variants.first.price }}
		var wallChartsPrice = {{ wall_charts_variant.price }}
		
		//Set initial subscription number in the message
		var initialSubscriptions = $('#subscriptions').val()
		$('#pupil_number').text(initialSubscriptions)
		
		//Set initial numbers, price etc.
		var packsRequired = calculatePacksFor(initialSubscriptions)
		var price = ((packsRequired * unitPrice) + travelTrackerPrice) / 100
			
		$('#product-price').text('£' + price.toFixed(2))
		$('#quantity').val(packsRequired)
		$('#pack_number').text(packsRequired)
		
		var useAlternative = false
		
		//Set listeners
		$("#numberOnRoll").change(function(){
		   calculateSubscriptions()
		    
		});

		$("#percentage").change(function(){
		   if (!quantityActive) calculateSubscriptions()		    
		});

		$("#subscriptions").change(function(){
		   if (quantityActive) calculatePercentage()
		});

		$("#classes").change(function(){
		   calculateSubscriptions() 
		});

		$("#percentage-lock").on('click', function(){
			unlockPercentage() 
		});
		
		$("#quantity-lock").on('click', function(){
			unlockQuantity() 
		});
						
		
		$("#alternative").change(function(){
		    useAlternative = $(this).prop('checked')
		    if (useAlternative) {
			    $('.classes-input').fadeIn("slow")
			    $('#tt_title').hide()
			    $('#wc_title').fadeIn("slow")		    
		    }
		    else {
			    $('.classes-input').fadeOut("slow")
			    $('#wc_title').hide()
			    $('#tt_title').fadeIn("slow")			    
		    }
		    $('#wallchart_info').fadeToggle("slow")
		    $('#traveltracker_info').fadeToggle("slow")
		    
		    
		    calculateSubscriptions()
		});
				
		$("#show_addons").on('click', function(evt){
			$(".cross-sell-overlay").show();
			evt.preventDefault();
		});

						
		$( "#builder_form" ).submit(function( event ) {
			
			if (useAlternative) {
				//Get classes number
				var classes = $('#classes').val()
				addWallchartsToCart(classes)	
			} else 
			{
				addTravelTrackerToCart()	
			}
			
		});

/*
		$(".cross-sell-overlay").on('click', function(evt){
			$(".cross-sell-overlay").hide();
			evt.preventDefault();
		});
*/
				
						
	});      
</script>


