{% schema %}
{
  "name": "Builder",
  "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	{
		"id": "number-on-roll",
		"type": "text",
		"label": "Number on roll",
		"default": "How many children are there in your school?",
		"info": "The label that appears above the first box."
	},
	{
		"id": "percentage",
		"type": "text",
		"label": "Percentage",
		"default": "What percentage walk to school?",
		"info": "The label that appears above the second box."
	},
	{
		"id": "quantity",
		"type": "text",
		"label": "Quantity",
		"default": "Subscriptions",
		"info": "The label for the quantity."
	},
	{
		"id": "classes",
		"type": "text",
		"label": "Classes",
		"default": "Number of classes",
		"info": "The label for the number of classes."
	},
		{
		"id": "alternative",
		"type": "text",
		"label": "Alternative option",
		"default": "I'd like to use wall charts instead of TravelTracker",
		"info": "Leave blank if you do not want to display the alternative option."
	},
		{
		"id": "add-to-cart",
		"type": "text",
		"label": "Button text",
		"default": "Add to cart"
	},
	{
	    "type":      "range",
	    "id":        "rollover_day",
	    "min":        1,
	    "max":        31,
	    "step":       1,
	    "label":     "Rollover day",
	    "default":   17,
	    "info": "The day used to calculate when the month should be rolled over to the next."
	},
	{
	   "type": "product",
	   "id": "travel_tracker",
	   "label": "Travel Tracker",
	   "info": "Select the Travel Tracker product so that it can be added automatically to the order."
	}
,
	{
	   "type": "product",
	   "id": "wall_charts",
	   "label": "Wallcharts",
	   "info": "Select the Wallcharts product so that it can be added automatically to the order."
	},
	{
	   "type": "radio",
	   "id": "enable_crossell",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Enable cross-sell",
	   "info": "Switch on to show additional products when the buy button is pressed."
	},
	{
	  "type": "text",
	  "id": "cross-sell-heading",
	  "label": "Cross-Sell Heading",
	  "default": "You might also be interested in these..."	,
	  "info": "The heading that will be shown on the cross-sell dialog."
	},
	{
	  "type": "text",
	  "id": "cross-sell-instruction",
	  "label": "Instruction",
	  "default": "Click an item to add it to your cart."	
	},	
	{
	   "type": "collection",
	   "id": "cross_sell_collection",
	   "label": "Cross-sell collection"
	}
  ]
}
{% endschema %}

<div class="hidden">

{% assign travel_tracker = all_products[section.settings.travel_tracker] %}
{% assign travel_tracker_id = travel_tracker.variants.first.id %}

{% assign wall_charts = all_products[section.settings.wall_charts] %}

{% assign rollover = section.settings.rollover_day | plus: 0 %}	
{% assign day = "now" | date: "%e" | plus: 0 %}
{% assign month = "now" | date: "%-m" | plus: 0 %}

{% if day >= rollover %}
{% assign m = month | plus: 1 %}
{% else %}
{% assign m = month | plus: 0 %}
{% endif %}

{% comment %}
Calculate the correct variant index from the month
{% endcomment %}
{% if m > 12 %}
{% assign v = 1 %}
{% else %}
{% assign v = m  %}
{% endif %}

{% for variant in wall_charts.variants %}
{% increment chart_counter %}
  {% if chart_counter == v %}
  {% assign wall_charts_variant = variant %}
  {% endif %}
{% endfor %}

</div>

<section class="forms text-center pb-40 pb-sm-60 pb-lg-80" id="builder">
  <div class="container">
    {% if section.settings.heading %}
    <h2 class="text-center">{{ section.settings.heading | escape }}</h2>
	{% endif %}
	<h3 class="mb-40">Using <span class="fadein" id="tt_title">Travel Tracker</span><span id="wc_title" class="fadein hidden">Wallcharts</span> to track progress</h3>
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="builder_form">
	    
	  <div id="product-variants" class="pb-20 hidden">
        <select id="product-select" name="id">
        {% for variant in product.variants %}
        {% increment variant_counter %}
          <option{% if variant_counter == v %} selected{% endif %} value="{{ variant.id }}">
          {{ variant.title }}
          {% if variant_counter == v %}
          {% assign current_variant = variant %}
          {% endif %}
          </option>
        {% endfor %}
        </select>
        <input type="hidden" id="quantity" name="quantity" value="1">
      </div> 
      
      <div class="row text-left">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-4 d-none d-sm-block mt-10 resize-me">
              <div class="label-div">
	            <p class="label-div-content">{{ section.settings.number-on-roll }}</p>
              </div>
            </div>
            <div class="col-12 col-sm-4 d-none d-sm-block mt-10 resize-me">
              <div class="label-div">
	            <p class="label-div-content">{{ section.settings.percentage }}</p>
              </div>
            </div>
            <div class="col-12 col-sm-4 d-none d-sm-block mt-10 resize-me">
              <div class="label-div">
	              <p class="label-div-content">{{ section.settings.quantity }}</p>
              </div>
            </div>
            <div class="col-12 col-sm-4 d-none d-sm-block mt-10 resize-me">
              <div class="label-div hidden fadein classes-input">
	              <p class="label-div-content">{{ section.settings.classes }}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-4 mb-20 resize-me">
	          <label class="d-block d-sm-none">{{ section.settings.number-on-roll }}</label>
              <div>
                <input class="form-control form-control-light bg-yellow text-black rounded shadow-small" type="number" id="numberOnRoll" name="properties[Number on roll]" min="1" step="1" value="200" placeholder=""/>
                <span class="form-control-stepper-wrapper"><span class="stepper glyphicon glyphicon-plus" data-direction="up"></span><span class="stepper glyphicon glyphicon-minus" data-direction="down"></span></span>
              </div>
            </div>
            <div class="col-12 col-sm-4 mb-20 resize-me">
	          <label class="d-block d-sm-none">{{ section.settings.percentage }}</label>
              <div>
                <input class="form-control form-control-light bg-green text-black rounded shadow-small" type="number" id="percentage" name="properties[Percentage]" min="1" max="100" step="1" value="65" placeholder=""/>
                <span class="glyphicon glyphicon-lock form-control-feedback d-none"></span>
                <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
                </span>
              </div>
            </div>
            <div class="col-12 col-sm-4 mb-20 resize-me">
	          <label class="d-block d-sm-none">{{ section.settings.quantity }}</label>
              <div>
               <input class="form-control form-control-light bg-orange text-black rounded shadow-small" type="number" id="subscriptions" name="properties[Subscriptions]" min="1" step="1" value="130" placeholder=""/>
               <span class="glyphicon glyphicon-lock form-control-feedback d-none"></span>
               <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
               </span>
              </div>
            </div>
            
            <div class="col-12 col-sm-4 mb-20 fadein hidden resize-me classes-input">
	          <label class="d-block d-sm-none">{{ section.settings.classes }}</label>
              <div>
               <input class="form-control form-control-light bg-white outline outline-black-light text-black rounded shadow-small" type="number" id="classes" name="properties[Classes]" min="1" step="1" value="1" placeholder=""/>
               <span class="glyphicon glyphicon-lock form-control-feedback d-none"></span>
               <span class="form-control-stepper-wrapper">
                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
               </span>
              </div>
            </div>
            
            <div class="col-12 mb-40"><span class="form-control form-control-light form-control-no-max bg-pink outline outline-pink-light text-white rounded shadow-small"><span class="glyphicon glyphicon-info-sign"></span> Your selection will be enough for <strong><span id="pupil_number">?</span> pupils </strong>and will run from <strong><span id="start_month">{{ current_variant.title }}</span></strong> until the end of the school year, at a cost of <strong><span id="product-price" itemprop="price"></span></strong>. <br/>You will receive <strong><span id="pack_number"></span> packs of 10 badges</strong> for each month plus <span id="traveltracker_info" class="fadein">access to <strong>TravelTracker</strong></span><span id="wallchart_info" class="fadein hidden">wall charts for your selected number of classes</span>.
            </div> 
          </div>
        </div>
       
        
        <div class="col-12 col-sm-9 col-lg-9">
			{% if section.settings.alternative != "" %}
			<label class="checkbox-wrapper">{{ section.settings.alternative }}
			  <input type="checkbox" id="alternative">
			  <span class="checkmark"></span>
			</label>
			{% endif %}
        </div>
        
        <div class="col-12 col-sm-3 col-lg-3">
	      {% if section.settings.enable_crossell == "yes" %}
	      <a href="#" id="show_addons" class="btn w-full no-padding">{{ section.settings.add-to-cart | escape }}</a>
          {% else %}
          <input class="btn w-full no-padding" type="submit" name="add" id="add" value="{{ section.settings.add-to-cart | escape }}">          
          {% endif %}
        </div>
      </div>

{% if section.settings.enable_crossell == "yes" %}

{% assign collection = collections[section.settings.cross_sell_collection] %}

	<div class="cross-sell-overlay">
		<div class="cross-sell rounded shadow">
			<h2 id="tape" class="tape-orange tape-rotate-a-1">{{ section.settings.cross-sell-heading }}</h2>
			
			<div class="row justify-content-center pt-20">
				
				{% for product in collection.products %}
				{% assign product_id = product.variants.first.id %}
				<div class="col-6 col-sm-4">
					<div class="product-box text-center">
						<div class="product-box-image">
							<img src="{{ product | img_url: 'x150'}}" />
							<div class="product-box-button">
							<button class="btn add-to-cart" data-id="{{ product_id }}">Add to cart</button>
							</div>
						</div>
						<div class="product-box-footer">
							<p class="product-box-title">{{ product.title }}</p>
							<p id="tape" class="tape-thin tape-box-pink tape-rotate-c-2">{{ product.price | money }} </p>
						</div>
					</div>
				</div>						
				{% endfor %}
								
			</div>
			
			<div class="buttons">
				<button id="cancel" class="btn btn-orange">Cancel</button> 
				<input class="btn btn-green" type="submit" name="add" id="add" value="Continue">
			</div>
			<p class="instruction">{{ section.settings.cross-sell-instruction }}</p>
		</div>
	</div>

{% endif %}
      
    </form>
  </div>
</section>	

<script>
	$( document ).ready(function() {

{% if section.settings.enable_crossell == "yes" %}

		function addCrossSell(id) {
			
			const jsonString = '{ "' + id + '" : 1 }' 
			var cartUpdates = JSON.parse(jsonString)
		
			console.log(cartUpdates)
	
		    var params = {
		      async: false,
		      type: 'POST',
		      url: '/cart/update.js',	
		      data: { updates: cartUpdates },	
		      dataType: 'json'	
		    };
		    
		    $.ajax(params);			
			
		}
	
		$(".add-to-cart").on('click', function(evt){
			addCrossSell($(this).data('id'))
			evt.preventDefault(); 
		});

{% endif %}
			
		function calculatePacksFor(subscriptions) {
			var packSize = 10
			var packs = 0
			var quotient = Math.floor(subscriptions/packSize);
			var remainder = subscriptions % packSize;
			if (remainder > 0) {
				packs = quotient + 1
			} else {
				packs = quotient
			}
			return packs
		}
		
		function calculateSubscriptions() {
			
			var numberOnRoll = $("#numberOnRoll").val()
			var percentageWalkIn = $("#percentage").val()
			
			var numberOfSubscriptions = Math.floor((numberOnRoll * (percentageWalkIn /100)))
			$("#subscriptions").val(numberOfSubscriptions)
			$('#pupil_number').text(numberOfSubscriptions)
			var packsRequired = calculatePacksFor(numberOfSubscriptions)
			if (useAlternative) {
				var classes = $("#classes").val()
				var price = ((packsRequired * unitPrice) + (wallChartsPrice * classes)) / 100				
			} else {
				var price = ((packsRequired * unitPrice) + travelTrackerPrice) / 100				
			}
			$('#product-price').text('£' + price.toFixed(2))
			$('#quantity').val(packsRequired)
			$('#pack_number').text(packsRequired)
					
		}
		
		function addTravelTrackerToCart() {

			var cartUpdates = { {{ travel_tracker_id }}: 1 }
	
		    var params = {
		      async: false,
		      type: 'POST',
		      url: '/cart/update.js',	
		      data: { updates: cartUpdates },	
		      dataType: 'json'	
		    };
		    
		    $.ajax(params);			
			
		}

		function addWallchartsToCart(number) {

			var cartUpdates = { {{ wall_charts_variant.id }}: number }
	
		    var params = {
		      async: false,
		      type: 'POST',
		      url: '/cart/update.js',	
		      data: { updates: cartUpdates },	
		      dataType: 'json'	
		    };
		    
		    $.ajax(params);			
			
		}
					
		//Set unit price
		var unitPrice = {{ current_variant.price }} //In pence
		var travelTrackerPrice = {{ travel_tracker.variants.first.price }}
		var wallChartsPrice = {{ wall_charts_variant.price }}
		
		//Set initial subscription number in the message
		var initialSubscriptions = $('#subscriptions').val()
		$('#pupil_number').text(initialSubscriptions)
		
		//Set initial numbers, price etc.
		var packsRequired = calculatePacksFor(initialSubscriptions)
		var price = ((packsRequired * unitPrice) + travelTrackerPrice) / 100
			
		$('#product-price').text('£' + price.toFixed(2))
		$('#quantity').val(packsRequired)
		$('#pack_number').text(packsRequired)
		
		var useAlternative = false
		
		//Set listeners
		$("#numberOnRoll").change(function(){
		   calculateSubscriptions()
		    
		});

		$("#percentage").change(function(){
		   calculateSubscriptions()
		    
		});

		$("#subscriptions").change(function(){
		   calculateSubscriptions()
		});

		$("#classes").change(function(){
		   calculateSubscriptions() 
		});
		
		$("#alternative").change(function(){
		    useAlternative = $(this).prop('checked')
		    if (useAlternative) {
			    $('.resize-me').addClass("col-sm-3")
			    $('.resize-me').removeClass("col-sm-4")	
			    $('.classes-input').removeClass("hidden")		    
		    }
		    else {
				$('.resize-me').addClass("col-sm-4")
			    $('.resize-me').removeClass("col-sm-3")
			    $('.classes-input').addClass("hidden")			    
		    }
		    $('#wallchart_info').toggleClass("hidden")
		    $('#traveltracker_info').toggleClass("hidden")
		    $('#tt_title').toggleClass("hidden")
		    $('#wc_title').toggleClass("hidden")
		    calculateSubscriptions()
		});
				
		$("#show_addons").on('click', function(evt){
			$(".cross-sell-overlay").show();
			evt.preventDefault();
		});

		$("#cancel").on('click', function(evt){
			$(".cross-sell-overlay").hide();
			evt.preventDefault();
		});
						
		$( "#builder_form" ).submit(function( event ) {
			
			if (useAlternative) {
				//Get classes number
				var classes = $('#classes').val()
				addWallchartsToCart(classes)	
			} else 
			{
				addTravelTrackerToCart()	
			}
			
		});
				
						
	});      
</script>


