{% schema %}
{
  "name": "Cart Page",
  "settings": [
	{
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Cart"
    },
	{
      "type": "text",
      "id": "comment",
      "label": "Comment",
      "default": "Taxes and shipping will be calculated at checkout."
    },
    {
      "type": "checkbox",
      "id": "cart_images_enabled",
      "label": "Enable cart images",
      "default": true
    }
    ,
	{
      "type": "text",
      "id": "empty_comment",
      "label": "Empty cart",
      "default": "It appears that your cart is currently empty.",
      "info": "Enter a message to display when the cart is empty."
    },
	{
      "type": "url",
      "id": "continue_url",
      "label": "Continue link",
      "info": "Leave blank to go back to the previous page."
    },
    {
	   "type": "product",
	   "id": "donation_product",
	   "label": "Donations"
	}
  ]
}
{% endschema %}

{% if cart.item_count > 0 %}
    <section class="p-60 p-lg-100 pt-160" id="cart">
    <div class="container">
      <h1>{{ section.settings.heading }}</h1>

			<form action="/cart" method="post">
            <div class="table pt-40">  
                <div class="theader">
                        {% if section.settings.cart_images_enabled %}
                        <div class="table_header"></div> 
                        {% endif %}
                        <div class="table_header"></div> 
                        <div class="table_header">Price</div>
                        <div class="table_header text-right">Quantity</div>
                        <div class="table_header text-right">Cost</div>
                  </div> <!-- .theader -->
					
					{% for item in cart.items %}      					
                    <div class="table_row">
                       {% if section.settings.cart_images_enabled %}
                        <div class="table_small_single">
                            <div class='table_cell'></div>
                            <div class='table_cell text-center text-sm-left'><img src="{{ item | img_url: 'x80' }}"  alt="{{ item.title | escape }}" /></div>
                        </div> <!-- .table_small_single -->
                        {% endif %}
                        <div class="table_small_single">
                          <div class='table_cell'></div>
                           <div class='table_cell text-center text-sm-left'>
                           {{ item.title }} <a class="btn btn-tiny d-none d-sm-inline" href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>{% unless item.properties == empty %}
          							<br/><small class="d-block text-grey">
          							  {% for property in item.properties %}
          							  {{ property.first }}: {{ property.last }}&nbsp;&nbsp;
          							  {% endfor %}
          							</small>
          							{% endunless %}</div>
                      </div> <!-- .table_small_single -->

                        <div class="table_small_single text-center text-sm-right">
                            <div class='table_cell'>Price</div>
                            <div class='table_cell'><span class="d-inline d-sm-none"><a class="btn btn-tiny" href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a><br/></span><span class="d-md-none">Price: </span>{{ item.price | money }}</div>
                        </div> <!-- .table_small_single -->

                        <div class="table_small_single text-center text-sm-right">
                            <div class='table_cell'>Quantity</div>
                            <div class='table_cell'><span class="d-md-none">Quantity: </span>{{ item.quantity }}</div>
                        </div> <!-- .table_small_single -->

                        <div class="table_small_single text-center text-sm-right">
                            <div class='table_cell'>Cost</div>
                            <div class='table_cell'><span class="d-md-none">Cost: </span>{{ item.line_price | money }}</div>
                        </div> <!-- .table_small_single -->
                    </div> <!-- .table_row -->

					{% endfor %}

          <div class="table_row">
            <div class="table_small_single">
              <div class='table_cell'></div>
              <div class='table_cell'></div>             
            </div>
            <div class="table_small_single">
              <div class='table_cell'></div>
              <div class='table_cell'></div>             
            </div>
            <div class="table_small_single">
              <div class='table_cell'></div>
              <div class='table_cell'></div>             
            </div>
            <div class="table_small_single">
              <div class='table_cell'></div>
              <div class='table_cell text-right'><span class="d-none d-md-display"><strong>Sub-total:</strong></span></div>             
            </div>
            <div class="table_small_single text-center text-sm-right">
              <div class='table_cell'><strong></strong></div>
              <div class='table_cell'><span class="d-md-none"><strong>Sub-total:</strong> </span>{{ cart.total_price | money }}</div>             
            </div>
          </div> <!-- .table_row-->   
       </div><!-- divTable -->

            <div class="text-right">
	            <p>{{ section.settings.comment }}</p>
            </div> <!-- .text-right -->

            <div class="row justify-content-end mt-20">
	            
	            <div class="col-12">
                <p class="text-right">
                  <label class="checkbox-wrapper checkbox-wrapper-right">My organisation uses purchase orders
                  <input id="show_po_number" type="checkbox" id="alternative">
                  <span class="checkmark-right"></span>
                  </label>
                </p>
              </div>

              <div class="col-12 col-md-4">
		            <p id="po_number" class="cart-attribute__field text-right mt-20" style="display:none;">
    						<strong>Please enter your PO number:</strong>
      						<input class="form-control form-control-light form-control-small bg-white outline outline-grey text-black text-right" id="purchase-order-number" type="text" name="attributes[Purchase Order Number]" value="{{ cart.attributes["Purchase Order Number"] }}">
    					  </p>
	            </div>
			
			</div> <!-- .row-->
			                    
                        
            <div class="p-30 p-lg-50 text-right">
	            {% unless section.settings.donation_product == blank%}
	            {% assign donations = all_products[section.settings.donation_product] %}	            
	            <a href="{{ donations.url }}" class="btn btn-orange mr-md-15 mb-15 d-block d-md-inline">Make a donation</a>{% endunless %}
              {% if section.settings.continue_url  %}
              <a href="{{ section.settings.continue_url }}" class="btn btn-yellow mr-md-15 mb-15 d-block d-md-inline"><span>Continue Shopping</span></a>
              {% else %}
              <a href="#" onclick="goBack()" class="btn btn-yellow mr-md-15 mb-15 d-block d-md-inline"><span>Continue Shopping</span></a>
              {% endif %}
              <input type="submit" name="checkout" value="Checkout" class="btn btn-green mb-15 block">
            </div> <!-- buttons -->
            
			</form> <!-- form-->
            
      </div> <!-- .container -->

    </section> <!-- #cart -->

<script>
  $( document ).ready(function() {
    //Cookies.remove('usePONumber')
    var usePONumber = Cookies.get('usePONumber')
    var PONumber = Cookies.get('PONumber')
    console.log(PONumber)
    $( "#show_po_number" ).on( "change", function() {
      $( "#po_number" ).toggle()
      if ($( "#show_po_number" ).prop('checked')) {
      Cookies.set('usePONumber', 1)} 
      else {
      Cookies.set('usePONumber', 0)}
    });

    $( "#purchase-order-number" ).on( "change", function() {
      Cookies.set('PONumber', $( this ).val())
    });

    if (usePONumber == 1){
      $( "#show_po_number" ).prop('checked', true)
      $( "#po_number" ).show()
      $( "#purchase-order-number" ).val(PONumber)
    } 

  });
</script>
{% else %}

<section class="p-60 p-lg-100 pt-200" id="cart">
  <div class="container">
  <h2>{{ section.settings.empty_comment | escape }}</h2>
  {% if section.settings.continue_url %}
  <h3 class="pt-30"><a href="{{ section.settings.continue_url }}">Continue...</a></h3>
  {% else %}
  <h3 class="pt-30"><a href="#" onclick="goBack()">Continue...</a></h3>
  {% endif %}
  </div>
</section>
{% endif %}

<script>
  function goBack() {
  window.history.back();
}
</script>





    
    