{% schema %}
  {
    "name": "Cross-sell",
    "settings": [
	{
	   "type": "radio",
	   "id": "enable_crossell",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Enable cross-sell",
	   "info": "Switch on to show additional products when the buy button is pressed."
	},
	{
	  "type": "text",
	  "id": "heading",
	  "label": "Heading",
	  "default": "You might also be interested in these..."	
	},
	{
	  "type": "text",
	  "id": "instruction",
	  "label": "Instruction",
	  "default": "Click an item to add it to your cart."	
	},	
	{
	   "type": "collection",
	   "id": "cross_sell_collection",
	   "label": "Cross-sell collection"
	}
  ]
  }
{% endschema %}

{% if section.settings.enable_crossell == "yes" %}

{% assign collection = collections[section.settings.cross_sell_collection] %}

	<div class="cross-sell-overlay">
		<div class="cross-sell rounded shadow">
			<h2 id="tape" class="tape-orange tape-rotate-a-1">{{ section.settings.heading }}</h2>
			
			<div class="row justify-content-center pt-20">
				
				{% for product in collection.products %}
				{% assign product_id = product.variants.first.id %}
				<div class="col-6 col-sm-4">
					<div class="product-box text-center">
						<div class="product-box-image">
							<img src="{{ product | img_url: 'x150'}}" />
							<div class="product-box-button">
							<button class="btn add-to-cart" data-id="{{ product_id }}">Add to cart</button>
							</div>
						</div>
						<div class="product-box-footer">
							<p class="product-box-title">{{ product.title }}</p>
							<p id="tape" class="tape-thin tape-box-pink tape-rotate-c-2">{{ product.price | money }} </p>
						</div>
					</div>
				</div>						
				{% endfor %}
								
			</div>
			
			<div class="buttons">
				<a href="" class="btn btn-orange">Cancel</a> <a href="" class="btn btn-green">Continue</a>
			</div>
			<p class="instruction">{{ section.settings.instruction }}</p>
		</div>
	</div>
	
	<script>
		$( document ).ready(function() {
			
			function addCrossSell(id) {
				
				const jsonString = '{ "' + id + '" : 1 }' 
				var cartUpdates = JSON.parse(jsonString)
			
				console.log(cartUpdates)
		
			    var params = {
			      async: false,
			      type: 'POST',
			      url: '/cart/update.js',	
			      data: { updates: cartUpdates },	
			      dataType: 'json'	
			    };
			    
			    $.ajax(params);			
				
			}
		
			$(".add-to-cart").on('click', function(){
				addCrossSell($(this).data('id')) 
			});
			
		});	
	</script>

{% endif %}