{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo image"
		},
		{
		   "type": "link_list",
		   "id": "first_nav",
		   "label": "First menu"
		},
		{
		   "type": "link_list",
		   "id": "second_nav",
		   "label": "Second menu"
		},
		{
		   "type": "text",
		   "id": "contact_title",
		   "label": "Contact title",
		   "default": "Get in touch"
		},
		{
		   "type": "url",
		   "id": "catalogue_url",
		   "label": "Catalogue"
		},
		{
		   "type": "textarea",
		   "id": "company_info",
		   "label": "Company information"
		}
    ]
  }
{% endschema %}

    <footer class="footers" id="footer">
        <div class="container">
            <div class="row justify-content-center align-items-stretch p-40 p-lg-40 mt-10">
                        
                <div class="col-12 col-sm-6 col-md-3 mb-40 text-center text-sm-left text-md-center">
                   <image src="{{ section.settings.logo | img_url: 'x500' }}" /> 
                </div>

                <div class="col-12 col-sm-6 col-md-3 mb-40 text-center text-sm-left">
                    <h5 class="mb-5">{{ linklists[section.settings.first_nav].title }}</h5>
                    {% for link in linklists[section.settings.first_nav].links %}
                    <div class="mb-5">
                    <a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                    </div>
                    {% endfor %}					
                </div>

                <div class="col-12 col-sm-6 col-md-3 mb-40 text-center text-sm-left">
                    <h5 class="mb-5">{{ linklists[section.settings.second_nav].title }}</h5>
                    {% for link in linklists[section.settings.second_nav].links %}
                    <div class="mb-5">
                    <a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                    </div>
                    {% endfor %}						
                </div>
                
                <div class="col-12 col-sm-6 col-md-3 mb-40 text-center text-sm-left">
					<h5 class="mb-5">{{ section.settings.contact_title }}</h5>
                    <div class="mb-20">
                    <a href="mailto:{{ shop.email }}">Email us</a>
                    </div>
                    <div class="socials mb-20">
                     {% if settings.facebook_url != blank %}
                     <a href="{{ settings.facebook_url }}" class="mr--20"><img class="social" src="{{ 'facebook-white.svg' | asset_url }}"></a>
                     {% endif %}
                     {% if settings.twitter_url != blank %}
                     <a href="{{ settings.twitter_url }}" class="mr--20"><img class="social" src="{{ 'twitter-white.svg' | asset_url }}"></a>
                     {% endif %}
                     {% if settings.instagram_url != blank %}
                     <a href="{{ settings.instagram_url }}" class="mr--20"><img class="social" src="{{ 'instagram-white.svg' | asset_url }}"></a>
                     {% endif %}
                     {% if settings.youtube_url != blank %}
                     <a href="{{ settings.youtube_url }}" class="mr--20"><img class="social" src="{{ 'youtube-white.svg' | asset_url }}"></a>
                     {% endif %}
                     {% if settings.linkedin_url != blank %}
                     <a href="{{ settings.linkedin_url }}" class="mr--20"><img class="social" src="{{ 'linkedin-white.svg' | asset_url }}"></a>
                     {% endif %}
                    </div>
                    <div class="mb-20">
                    <a href="{{ section.settings.catalogue_url }}">Catalogue</a>
                    </div>						
                </div>

                <div class="col-12 mt-10 mb-20 company-info text-center text-sm-left">
					&copy; {{ shop.name }} {{ "now" | date: "%Y" }} {{ section.settings.company_info }}
                </div>                                               

                
            </div> <!-- .row -->
        </div> <!-- .container -->
    </footer>





