{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo image"
		},
		{
		   "type": "link_list",
		   "id": "first_nav",
		   "label": "First menu"
		},
		{
		   "type": "link_list",
		   "id": "second_nav",
		   "label": "Second menu"
		},
		{
		   "type": "text",
		   "id": "contact_title",
		   "label": "Contact title",
		   "default": "Get in touch"
		},
		{
		   "type": "textarea",
		   "id": "company_info",
		   "label": "Company information"
		}
    ]
  }
{% endschema %}

    <footer class="footers" id="footer">
        <div class="container">
            <div class="row justify-content-center align-items-stretch p-40 p-lg-40 mt-10">
                        
                <div class="col-12 col-sm-6 col-md-3 mb-20 mb-sm-0 text-center">
                   <image src="{{ section.settings.logo | img_url: 'x500' }}" /> 
                </div>

                <div class="col-12 col-sm-6 col-md-3 mb-20 mb-sm-0">
                    <h5 class="mb-5">{{ linklists[section.settings.first_nav].title }}</h5>
                    {% for link in linklists[section.settings.first_nav].links %}
                    <div class="mb-5">
                    <a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                    </div>
                    {% endfor %}					
                </div>

                <div class="col-12 col-sm-6 col-md-3 mb-20 mb-sm-0">
                    <h5 class="mb-5">{{ linklists[section.settings.second_nav].title }}</h5>
                    {% for link in linklists[section.settings.second_nav].links %}
                    <div class="mb-5">
                    <a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                    </div>
                    {% endfor %}						
                </div>
                
                <div class="col-12 col-sm-6 col-md-3 mb-20 mb-sm-0">
					<h5 class="mb-5">{{ section.settings.contact_title }}</h5>
                    <div class="mb-20">
                    <a href="mailto:{{ shop.email }}">Email us</a>
                    </div>
                    <div class="socials">
                     <a href=""><img src="{{ 'facebook.svg' | asset_url }}"></a><a href=""><img src="{{ 'twitter.svg' | asset_url }}"></a><a href=""><img src="{{ 'instagram.svg' | asset_url }}"></a><a href=""><img src="{{ 'youtube.svg' | asset_url }}"></a><a href=""><img src="{{ 'linkedin.svg' | asset_url }}"></a></div>						
                </div>

                <div class="col-12 mt-20 mb-10 company-info">
					&copy; {{ shop.name }} {{ "now" | date: "%Y" }} {{ section.settings.company_info }}
                </div>                                               

                
            </div> <!-- .row -->
        </div> <!-- .container -->
    </footer>





