{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
		   "type": "link_list",
		   "id": "footer_nav",
		   "label": "Footer navigation"
		},
		{
		   "type": "text",
		   "id": "address_title",
		   "label": "Address title"
		}
    ]
  }
{% endschema %}

    <section class="footers" id="footer">
        <div class="container">
            <div class="row justify-content-center align-items-stretch p-40 p-lg-40">
                <div class="col-sm-8 col-lg-7 text-center text-sm-left">
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-20 mb-sm-0">
                            <h3 class="mb-5">{{ section.settings.address_title }}</h3>

                            <p>{{ shop.phone }}</p>

                            <p><a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>

                            <p>{{ shop.address.street }}</p>

                            <p>{{ shop.address.city }} {{ shop.address.zip }}</p>
                            
                            <p>{{ shop.address.country }}</p>
                            
                        </div>

                        <div class="col-12 col-sm-6 mb-20 mb-sm-0">
							<!-- Room for a second address -->
                        </div>
                        
                    </div>
                </div>

                <div class="col-sm-4 col-lg-5 text-center text-sm-right d-flex flex-column justify-content-between">
                    <div class="mb-15 mb-lg-0">

                        {% for link in linklists[section.settings.footer_nav].links %}
                        <div class="mb-5">
                        <a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
                        </div>
                        {% endfor %}
	                            	                    
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-12 col-lg-auto mb-20 mb-lg-0">
                            <p>&copy; {{ "now" | date: "%Y" }} {{ shop.name }}</p>
                        </div>

                        <div class="col-12 col-lg-auto">
                            <div class="socials">
                                <a href=""><img src="{{ 'facebook.svg' | asset_url }}"></a><a href=""><img src="{{ 'twitter.svg' | asset_url }}"></a><a href=""><img src="{{ 'instagram.svg' | asset_url }}"></a><a href=""><img src="{{ 'youtube.svg' | asset_url }}"></a><a href=""><img src="{{ 'linkedin.svg' | asset_url }}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





