{% schema %}
  {
    "name": "Menu Bar",
    "settings": [
		{
		   "type": "link_list",
		   "id": "main_nav",
		   "label": "Main navigation"
		}	    
    ]
  }
{% endschema %}


    <!-- Menu -->

    <section class="headers" id="headers-19">
        <div id="navbar" class="bg-white ph-15 ph-sm-30 ph-lg-70 fixed-navbar fixed-navbar-notification">
	        <div class="logo">
		        <a href="{{ shop.url }}"><img src="{{ 'living-streets.png' | asset_url }}" /></a>
	        </div>
            <div class="row justify-content-center align-items-center justify-content-sm-between h-100">
                <div class="col-auto">
                    <div class="row justify-content-center align-items-center">                        
                        <div class="col-auto d-none d-lg-block">
                            <nav class="navbar navbar-left">
	                            {% for link in linklists[section.settings.main_nav].links %}
	                            <a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
	                            {% endfor %}
	                        </nav>       
                        </div>
                    </div>
                </div>

                <div class="col-auto d-none d-lg-block">
                    <nav class="navbar">                       
                        <a href="{{ shop.url }}/account" class="cart"><img src="{{ 'profile-icon.svg' | asset_url }}"></a>
                        <a href="{{ shop.url }}/search" class="cart"><img src="{{ 'search-icon.svg' | asset_url }}"></a>
                        <a href="{{ shop.url }}/cart" class="cart"><img src="{{ 'basket-icon.svg' | asset_url }}"></a>
                    </nav>
                </div>

                <div class="col-auto d-block d-lg-none">
                    <nav class="navbar"><a class="hamburger" id="responsive">{{ 'hamburger.svg' | asset_url | img_tag: '' }}</a></nav>
                </div>
            </div>
        </div>
    </section><!-- Mobile menu -->

    <div class="row justify-content-center align-items-center d-lg-none">
        <div id="mobile-navbar" class="mobile-navbar">

            {% for link in linklists[section.settings.main_nav].links %}
            <p><a class="{% if link.active %}active {% endif %}" href="{{ link.url }}">{{ link.title }}</a></p>
            {% endfor %}

            <p><a href="{{ shop.url }}/account"><img src="{{ 'profile-icon.svg' | asset_url }}"></a></p>
            <p><a href="{{ shop.url }}/search"><img src="{{ 'search-icon.svg' | asset_url }}"></a></p>
            <p><a href="{{ shop.url }}/cart"><img src="{{ 'basket-icon.svg' | asset_url }}"></a></p>
        </div>
    </div><!-- Menu -->
    
    