{% layout settings.customer_layout %}

<section class="mt-120">
	
<div class="container">
		
<h2 class="title">Order {{ order.name }}</h2>

{% if order.cancelled %}
<div id="order_cancelled">
  <h5 id="order_cancelled_title" class="text-grey">Order Cancelled on {{ order.cancelled_at | date: settings.date_format }}</h5>
  <p>{{ order.cancel_reason }}</p>
</div>
{% endif %}

<div class="mb-20 text-grey">Placed on {{ order.created_at | date: settings.long_date_format }}</div>

<hr class="hr-orange mb-30" />

<div class="mb-40" id="order_address">
 
  <div class="d-inline-block mr-60 d-inline-block" id="order_payment">
    <h4>Billing Address</h4>
    <p><span class="text-grey">Payment:</span> <span class="status status-{{ order.financial_status }}">{{ order.financial_status }}</span></p>
    <div class="mt-10">
      <p>{{ order.billing_address.name }}</p>
      <p>{{ order.billing_address.company }}</p>
      <p>{{ order.billing_address.street }}</p>
      <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
      <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
      <p>{{ order.billing_address.phone }}</p>
    </div>
  </div>
  {% if order.shipping_address %}
    <div class="d-inline-block d-inline-block" id="order_shipping">
      <h4>Shipping Address</h4>
      <p><span class="text-grey">Fulfillment:</span> <span class="status status-{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
      <div class="mt-10">
        <p>{{ order.shipping_address.name }}</p>
        <p>{{ order.shipping_address.company }}</p>
        <p>{{ order.shipping_address.street }}</p>
        <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
        <p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
        <p>{{ order.shipping_address.phone }}</p>
      </div>
    </div>
  {% endif %}
</div>

<table id="order_details" class="w-full">
  <thead>
    <tr>
      <th class="text-left"></th>
      <th class="text-left"></th>
      <th class="text-right">Price</th>
      <th class="text-right">Quantity</th>
      <th class="text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in order.line_items %}
    <tr id="{{ line_item.id }}">
	   <td class="text-center">
		  <img class="pr-20" src="{{ line_item | img_url: 'x50' }}"  alt="{{ item.title | escape }}" />  
	   </td>
      <td class="text-left">
       {{ line_item.title | link_to: line_item.product.url }} 
        {% unless line_item.properties == empty %}
		<br/><small class="d-block text-grey">
		  {% for property in line_item.properties %}
		  {{ property.first }}: {{ property.last }}&nbsp;&nbsp;
		  {% endfor %}
		</small>
		{% endunless %}
							
      </td>
      <td class="text-right">{{ line_item.price | money }}</td>
      <td class="text-right">{{ line_item.quantity }}</td>
      <td class="text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td class="text-right" colspan="3"><strong>Sub-total:</strong></td>
      <td class="text-right">{{ order.subtotal_price | money }}</td>
    </tr>

    {% for discount in order.discounts %}
      <tr>
        <td class="text-right" colspan="3"><strong>{{ discount.code }} Discount:</strong></td>
        <td class="text-right">{{ discount.savings | money }}</td>
      </tr>
    {% endfor %}

    {% for shipping_method in order.shipping_methods %}
    <tr>
      <td class="text-right" colspan="3"><strong>Shipping ({{ shipping_method.title }}):</strong></td>
      <td class="text-right">{{ shipping_method.price | money }}</td>
    </tr>
    {% endfor %}

    {% for tax_line in order.tax_lines %}
      <tr>
        <td class="text-right" colspan="3"><strong>{{ tax_line.title }} {{ tax_line.rate | times: 100 }}%:</strong></td>
        <td class="text-right">{{ tax_line.price | money }}</td>
      </tr>
    {% endfor %}

    <tr>
      <td class="text-right" colspan="3"><strong>Total:</strong></td>
      <td class="text-right">{{ order.total_price | money }}</td>
    </tr>
  </tfoot>
</table>

  <div class="mb-20" id='return_to_store'><a class="btn btn-small" href="/account">Return to Account page</a></div>


	</div>
</section>