{% schema %}
{
  "name": "Partners",
  "settings": [
	{
		"id": "text",
		"type": "textarea",
		"label": "Text",
		"default": "Add your text here"
	},
	    {
	   "type": "radio",
	   "id": "text_position",
	   "options": [
	      { "value": "left", "label": "Left"},
	      { "value": "right", "label": "Right"}
	   ],
	   "label": "Text position"
	},
		{
		"id": "link_text",
		"type": "text",
		"label": "Link text",
		"default": "Learn more"
	},
		{
		"id": "link_url",
		"type": "url",
		"label": "Link"
	}
  ],
  "presets": [
    {
      "name": "Partners",
      "category": "Info"
    }
  ]
}
{% endschema %}

<section class="contents text-center text-lg-left pt-60 pt-lg-100 pb-50 pb-lg-100" id="contents-3">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-lg-5 mb-40 mb-lg-0">
        <h4 class="mb-40 mb-lg-60">
          {{ section.settings.text }}

        </h4><a class="b-500 arrow" href="{{ section.settings.link_url }}">{{ section.settings.link_text }}</a>
      </div>
      <div class="col-12 col-lg-6 text-center">
        <div class="row justify-content-center align-items-center no-gutters">
          <div class="col-6 col-sm-4 p-10 p-lg-30"><a href=""><img src="{{ 'mashable.svg' | asset_url }}" alt=""/></a>
          </div>
          <div class="col-6 col-sm-4 p-10 p-lg-30"><a href=""><img src="{{ 'theverge.svg' | asset_url }}" alt=""/></a>
          </div>
          <div class="col-6 col-sm-4 p-10 p-lg-30"><a href=""><img src="{{ 'vine.svg' | asset_url }}" alt=""/></a>
          </div>
          <div class="col-6 col-sm-4 p-10 p-lg-30"><a href=""><img src="{{ 'tinder.svg' | asset_url }}" alt=""/></a>
          </div>
          <div class="col-6 col-sm-4 p-10 p-lg-30"><a href=""><img src="{{ 'adultswim.svg' | asset_url }}" alt=""/></a>
          </div>
          <div class="col-6 col-sm-4 p-10 p-lg-30"><a href=""><img src="{{ 'netflix.svg' | asset_url }}" alt=""/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

