{% schema %}
{
  "name": "Product",
  "settings": [
	{
		"id": "add_to_cart",
		"type": "text",
		"label": "Add Button",
		"default": "Add to cart"
	},
	{
	   "type": "radio",
	   "id": "show_quantity",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Show quantity selector"
	},
	{
	   "type": "radio",
	   "id": "show_related",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Show related products",
	   "info": "Related products will only be shown if there is a collection that contains the product."
	}
  ]
}
{% endschema %}

{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}

{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

    	   <section>        
	           
	            <div class="row justify-content-left justify-content-lg-between">
	                	                
	                <div class="col-12 col-sm-8">
	                    
	                    <form action="/cart/add" method="post" enctype="multipart/form-data">
	                    <div class="ml--20">
	                    <h2 id="tape" class="tape-green tape-box-orange mb-20 d-inline-block">{{ product.title }}</h2>
	                    </div>
	                    <div class="mb-30">
	                        {{ product.price | money }} (Ex. Vat)
	                    </div>
	
						{%- if product.description.size > 800 -%}
						{%- assign should_truncate = true -%}
						{%- else -%}
						{%- assign should_truncate = false -%}
						{%- endif -%}

						  <div class="mb-40 product-description{% if should_truncate %} short-description{% endif %}" itemprop="description">
					        {{ product.description }}
					        {% if should_truncate %}
					        <a class="more-link" href="#">More...</a>
					        {% endif %}
					      </div>
					      
					      {% assign hide_default_title = false %}
						  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
						  {% assign hide_default_title = true %}
						  {% endif %}  
      
					      <div id="product-variants" class="pb-20 {% if hide_default_title %} hidden{% endif %}">
					        <select id="product-select" name="id">
					        {% for variant in product.variants %}
					          <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
					          {{ variant.title }} - {{ variant.price | money }}
					          </option>
					        {% endfor %}
					        </select>
					      </div> 
					      
					    <div class="row">
						    
						{% if section.settings.show_quantity == "yes" %}    
                        <div class="col-6 col-sm-4 mb-20">
                            <label class="d-block"><strong>Quantity</strong></label>
                            <div>
				               <input class="form-control form-control-light bg-white outline outline-black text-black rounded" type="number" id="quantity" name="quantity" min="1" step="1" value="1" placeholder=""/>
				               <span class="form-control-stepper-wrapper form-control-stepper-left">
				                	<span class="stepper glyphicon glyphicon-minus" data-direction="down"></span>
				               </span>
				               <span class="form-control-stepper-wrapper">
				                	<span class="stepper glyphicon glyphicon-plus" data-direction="up"></span>
				               </span>               
                            </div>
                        </div>
						{% endif %} 
						
                        <div class="col-6 col-sm-4 mb-20">
					      <label class="d-block">&nbsp;</label>
					      <div id="product-add">
						  <input class="btn" style="margin-top:2px;" type="submit" name="add" id="add" value="{{ section.settings.add_to_cart | escape }}">
	      				  </div>
                        </div>
                                               
					    </div> <!-- .row -->
					      
	                    </form>
	                
	                </div>

	                <div class="col-12 col-sm-4">

	                    <img class="responsive" src="{{ product | img_url: 'x600'}}" alt="">
	                    
	                </div>
	                
	                {% if found_a_collection and section.settings.show_related == "yes" %}
	                 <div class="col-12">
					 	{% include 'related' %}	                 
	                 </div>	
	                 {% endif %}                
	                
	            </div>
	  
			</section>
       