{% schema %}
  {
    "name": "Related Products",
    "settings": [
	{
	   "type": "radio",
	   "id": "show_related",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Show related products",
	   "info": "Related products will only be shown if there is a collection that contains the product."
	},
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Add your text here",
		"info": "Leave blank to hide the heading."
	}
  ]
  }
{% endschema %}

{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}

{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}   

{% if found_a_collection and section.settings.show_related == "yes" %}
<section class="sliders text-center p-50" id="sliders-1">
	
	<div class="container">
    <div class="slider slider-rounded-buttons" id="related-products-no-dots"> 
	    <div class="text-left">
	    <h2 id="box" class="box-rotate-a-1 mb-40 mb-lg-60 d-inline-block">{{ section.settings.heading }}</h2>  
	    </div> 
	    {% for related in collection.products %}
		  	{% unless related.handle == product.handle %}     
	  		    <div class="col-12 col-sm-6 col-md-4 col-lg-3 slider-item">
			    <a href="{{ related.url }}">
			    <img class="mb-30" src="{{ related | img_url: 'x100'}}" alt="">
	
	            <h4>{{ related.title }}</h4>
	
	            <p>{{ related.price | money }} </p>
			    </a>
	            </div>
			 {% endunless %}			
		{% endfor %}
    </div>
	    <div>
		    <p class="mt-30"><a href="{{ collection.url }}">View all related products</a></p>
	    </div>
	</div>
</section>       
{% endif %}