
    {% schema %} 
    { "name": "Sliders", 
      "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
   "type": "select",
   "id": "background_colour",
   "options": [
      { "value": "green", "label": "Green"},
      { "value": "orange", "label": "Orange"},
      { "value": "yellow", "label": "Yellow"},
      { "value": "pink", "label": "Pink"},
      { "value": "black", "label": "Black"},
      { "value": "white", "label": "White"}
   ],
   "label": "Background colour",
   "default": "white"
   }
  ],
    
    "blocks": [
      {
        "type": "text",
        "name": "Slide",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtext",
            "type": "textarea",
            "label": "Subtext"
          },
    	{ 	"type": "text", 
    		"id": "more_text", 
    		"label": "Button text", 
    		"default":"Find out more" 
    	},
          {
            "id": "more_link",
            "type": "url",
            "label": "Button link"
          }
        ]
      }
    ], 
    	"presets": [ { "name": "Sliders", "category": "Header" } ] } 
    
    
    {% endschema %}

<section class="sliders text-center bg-{{ section.settings.background_colour}} p-50" id="sliders-1" {% if section.settings.background_image %}style="background-image: url('{{ section.settings.background_image | img_url: 'x1024' }}');"{% endif %}>
	<div class="container">
    <div class="slider slider-rounded-buttons slider-fixed-height-500 transparent" id="sliders-1-slider">
      {% for block in section.blocks %}
      <div class="slider-item" {{ block.shopify_attributes }}>
        <div class="row justify-content-center p-70 p-lg-150">
          <div id="tape" class="col-12 col-sm-8 col-lg-6 tape-box-green tape-yellow tape-rotate-a-1">
            <h1 class="mb-20">{{ block.settings.title | escape }}</h1>
            <div class="mb-40">{{ block.settings.subtext | escape }}</div>
            <a href="{{ block.settings.more_link }}" class="btn btn-pink"><span>{{ block.settings.more_text }}</a>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
	</div>
</section>
