
    {% schema %} 
    { "name": "Sliders", 
    
    "blocks": [
      {
        "type": "text",
        "name": "Slide",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtext",
            "type": "textarea",
            "label": "Subtext"
          },
    	{ 	"type": "text", 
    		"id": "more_text", 
    		"label": "Button text", 
    		"default":"Find out more" 
    	},
          {
            "id": "more_link",
            "type": "url",
            "label": "Button link"
          }
        ]
      }
    ], 
    	"presets": [ { "name": "Sliders", "category": "Header" } ] } 
    
    {% endschema %}

<section class="sliders text-center bg-light p-50" id="sliders-1">
	<div class="container">
    <div class="slider slider-rounded-buttons slider-fixed-height-500 transparent" id="sliders-1-slider">
      {% for block in section.blocks %}
      <div class="slider-item" {{ block.shopify_attributes }}>
        <div class="row justify-content-center p-70 p-lg-150">
          <div class="col-12 col-sm-8 col-lg-6">
            <h1 class="mb-20">{{ block.settings.title | escape }}</h1>
            <div class="mb-40">{{ block.settings.subtext | escape }}</div>
            <a href="{{ block.settings.more_link }}" class="btn"><span>{{ block.settings.more_text }}</a>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
	</div>
</section>
