{% schema %}
{
  "name": "Tags",
  "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"info": "Leave blank to hide the title."
	},
	{
	      "type": "image_picker",
	      "id": "people_image_left",
	      "label": "People (left)"
	},
	{
	      "type": "image_picker",
	      "id": "people_image_right",
	      "label": "People (right)"
	},
	{
	   "type": "radio",
	   "id": "show_all",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Show all products button"
	},
	{
	   "type": "radio",
	   "id": "hide_tracks",
	   "options": [
	      { "value": "yes", "label": "Yes"},
	      { "value": "no", "label": "No"}
	   ],
	   "default":   "no",
	   "label": "Hide tracks",
	   "info": "Switch off to hide the tracks between tags."
	}
	
  ],
    "blocks": [
      {
        "type": "text",
        "name": "Collections",
        "settings": [
			{
			   "type": "collection",
			   "id": "tag",
			   "label": "Collection"
			}
        ]
      }
    ]
}
{% endschema %}
<section>
</section>
<section>
	<div class="container">
	    {% if section.settings.heading.size > 0 %}
	    <h2 id="box" class="box-rotate-a-1 d-inline-block">{{ section.settings.heading }} </h2>
        {% endif %}
        {% if collection.description.size > 0 %}
		{{ collection.description }}
		{% endif %}
		
		<div class="nav-tabs-wrapper">
		{% if section.settings.people_image_left %}
		<img class="nav-img-left d-none d-md-block" src="{{ section.settings.people_image_left | img_url: 'x50' }}">
		{% endif %}
		<ul class="nav-tabs {% if section.settings.hide_tracks == "yes" %}no-tracks {% endif %}text-center mt-50" id="ecommerces-tabs">
          
          {% if section.settings.show_all == "yes" %}
          {% assign all_collection = collections['all'] %}
          <li class="{% if all_collection.id == collection.id %}active {% endif %}"><a href="{{ collection.url }}">All Products</a></li>
          {% endif %}
          
          {% for block in section.blocks %}
          	{% assign tag_collection = collections[block.settings.tag] %}
		  	<li class="{% if tag_collection.id == collection.id %}active {% endif %}"><a href="{{ tag_collection.url }}">{{ tag_collection.title  }}</a></li>
		  {% endfor %}
 
	    </ul>
	    {% if section.settings.people_image_right %}
	    <img class="nav-img-right d-none d-md-block" src="{{ section.settings.people_image_right | img_url: 'x50' }}">
	    {% endif %}
		</div>
    
	</div>
	
</section>