{% schema %}
  {
    "name": "Testimonials",
    "max_blocks": 3,
    "settings": [
      {
        "id": "headline",
        "type": "text",
        "label": "Headline",
        "default": "Title"
      },
	{
	  "type": 	"checkbox",
	  "id": 	"coloured_background",
	  "label": 	"Coloured background",
	  "default":false
	}
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "id": "quote",
            "type": "textarea",
            "label": "Quote"
          },
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "id": "position",
            "type": "text",
            "label": "Position"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Quotes"
    }
  ]
  }
{% endschema %}



    <section class="testimonials {% if section.settings.coloured_background %}bg-light {% endif %}text-center pt-60 pt-lg-100 pb-0 pb-lg-40" id="testimonials">
        <div class="container">
            {% if section.settings.headline %}
            <h1 class="mb-40 mb-lg-80">{{ section.settings.headline | escape }}</h1>
			{%- endif -%}
            <div class="row">
                
                {% for block in section.blocks %}
                <div class="col-12 col-sm-4 mb-60" {{ block.shopify_attributes }}>
                    <div class="ph-lg-30">
                        <p class="mb-40">"{{ block.settings.quote | escape }}"</p><img class="mb-20" src="{{ 'user-round-50.svg' | asset_url }}">

                        <h5>{{ block.settings.name | escape }}</h5>

                        <p>{{ block.settings.position | escape }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    