{% schema %}
  {
    "name": "Related Products",
    "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Add your text here",
		"info": "Leave blank to hide the heading."
	},
	{
		"id": "intro_text",
		"type": "textarea",
		"label": "Information",
		"info": "Leave blank to hide the text."
	},
		{
		"type": "collection",
		"id": "products_collection",
		"label": "Collection"
		},
		{
		"id": "view_all",
		"type": "text",
		"label": "Link",
		"default": "View All",
		"info": "Leave blank to hide the link."
		},
	{
		"id": "added",
		"type": "text",
		"label": "Notification title",
		"default": "Added",
		"info": "Title for the message displayed when a product is added to the cart. Leave blank to hide the title."
	},
	{
		"id": "message",
		"type": "text",
		"label": "Notification title",
		"default": "Your selected product has been added to your basket.",
		"info": "The message displayed when a product is added to the cart."
	}
  ]
  }
{% endschema %}

{% assign collection = collections[section.settings.products_collection] %}

{% if section.settings.products_collection != blank %}
<section class="sliders text-center p-50" id="sliders-1">
		
	<div class="container text-left">
	    <h2 id="box" class="box-yellow box-slim box-rotate-a-1 {% if section.settings.intro_text == blank %}mb-40 mb-lg-60{% endif %} d-inline-block">{{ section.settings.heading | escape }}</h2>  
	    {% unless section.settings.intro_text == blank %} 
	    <h4 class="text-left mb-30 box-align">{{ section.settings.intro_text | escape | newline_to_br }}</h4> 
	    {% endunless %} 
	</div> 
	
	<div class="container mb-40">
		    
    <div class="slider slider-rounded-buttons" id="related-products-no-dots"> 
	    {% for related in collection.products %}
		  	{% unless related.handle == product.handle %}     
				{% include 'related-item' %}
			 {% endunless %}			
		{% endfor %}
    </div>
	    {% if section.settings.view_all != blank %}
	    <div>
		    <p class="mt-30"><a class="btn" href="{{ collection.url }}">{{ section.settings.view_all }}</a></p>
	    </div>
	    {% endif %}
	</div>
</section>       
{% endif %}

    <script>
	$( document ).ready(function() {

		function updateCartCount(howMany) {
			var desktopBadge = $('#count-desktop')
			var mobileBadge = $('#count-mobile')
			desktopBadge.text(howMany)
			mobileBadge.text(howMany)
		}
		
		function addToBasket(id, howMany) {
			
			const jsonString = '{ "' + id + '" : ' + howMany + ' }' 
			var cartUpdates = JSON.parse(jsonString)
	
		    var params = {
		      async: true,
		      type: 'POST',
		      url: '/cart/update.js',	
		      data: { updates: cartUpdates },	
		      dataType: 'json',
		      success:function(data) {
			      console.log(data)
			   updateCartCount(data.item_count)
			   notifyUser('{{ section.settings.added }}', '{{ section.settings.message }}', 3000);		        
		      }	
		    };
		    
		    $.ajax(params);			
			
		}
	
		$(".add-to-cart").on('click', function(evt){
			var howMany = $(this).closest("div.product-box-button").find("input[name='numberToAdd']").val();
			addToBasket($(this).data('id'), howMany)
			evt.preventDefault() 
		});
				
						
	});      
</script>ß


