{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}


  
<section class="ecommerces p-60 p-lg-100 pt-160 mt-50 text-left" id="ecommerces-5">

	<div itemscope itemtype="http://schema.org/Product">
	  
	  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
	  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
	          
	        <div class="container">
	            <div class="row justify-content-left justify-content-lg-between">
	                <div class="col-12 col-sm-10 col-lg-5 order-2 order-lg-1">
	                    <form action="/cart/add" method="post" enctype="multipart/form-data">
	                    <h1 class="mb-20">{{ product.title }}</h1>
	
	                    <div class="mb-30">
	                        {{ product.price | money }} (Ex. Vat)
	                    </div>
	
						  <div class="mb-40 product-description" itemprop="description">
					        {{ product.description }}
					      </div>
					      
					      {% assign hide_default_title = false %}
						  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
						  {% assign hide_default_title = true %}
						  {% endif %}  
      
					      <div id="product-variants" class="pb-20 {% if hide_default_title %} hidden{% endif %}">
					        <select id="product-select" name="id">
					        {% for variant in product.variants %}
					          <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
					          {{ variant.title }} - {{ variant.price | money }}
					          </option>
					        {% endfor %}
					        </select>
					      </div> 
					      
					    <div class="row">
                        <div class="col-6 col-sm-4 mb-20">
                            <label class="d-block"><strong>Quantity</strong></label>
                            <div>
			               <input class="form-control form-control-light" type="number" id="quantity" name="quantity" min="1" step="1" value="1" placeholder=""/>
			               <span class="form-control-stepper-wrapper">
			                	<span class="stepper glyphicon glyphicon-chevron-up" data-direction="up"></span>
			                	<span class="stepper glyphicon glyphicon-chevron-down" data-direction="down"></span>
			               </span>
               
                            </div>
                        </div>

                        <div class="col-6 col-sm-4 mb-20">
					      <label class="d-block">&nbsp;</label>
					      <div id="product-add">
						  <input class="btn" type="submit" name="add" id="add" value="{{ add_to_cart | escape }}">
	      				  </div>
                        </div>
                                               
					    </div>
					  
     
					      
	                    </form>
	                </div>
	
	                <div class="col-12 col-sm-10 col-lg-6 order-1 order-lg-2 mb-40 mb-lg-0">
	                    <img class="mb-10 mb-sm-30" src="{{ product | img_url: 'grande'}}" alt="">
	                </div>
	            </div>
	        </div>
	</div>
        
    </section>
    

    