{% assign show_tax_message = false %}

{% comment %}
The search.liquid template is not a required template.
That search.liquid template is included in the current theme to make it easier for you 
to customize your /search page.
Whether you are using your own template for the search page or not,
the {{ content_for_header }} tag in theme.liquid will always output the following on the /search page:
<link rel="stylesheet" href="//cdn.shopify.com/s/global/search.css" type="text/css" />
So the /search page is always styled by a globally-hosted stylesheet called search.css.
You may override and complement that CSS in your theme's stylesheet.
We are using a div#searchresults below so that the styles defined in search.css get
applied to the elements on this page; the 'searchresults' id is used in the CSS
selectors inside search.css.
{% endcomment %}

<section class="forms text-center text-lg-left p-60 p-lg-100 mt-50" id="forms-5">
  <div class="container">
	  <form class="mb-20" action="/search" method="get" role="search">
	  <input type="hidden" name="type" value="product">
      <div class="row bg-orange rounded shadow justify-content-between align-items-center p-20">
        <div class="col-12 col-lg-4 mb-40 mb-lg-0">
          <h3>What do you want to search for?</h3>
        </div>
        <div class="col-12 col-lg-8">
          <form>
            <div class="row form-group no-gutters">
              <div class="col-8">
                <div>
                  <input class="form-control text-black" name="q" type="text" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />                
                </div>
              </div>
              <div class="col-4">
	              <input class="btn w-full" type="submit" value="Search" />
              </div>
            </div>
          </form>
        </div>
      </div>
	  </form>
	  
	  {% comment %}
search.performed is false when accessing the /search page without a 'q' parameter set
in the URL. A shop-owner can link to the /search page from one of his link lists.
It is important to show a search form on that page if search.performed is false.
{% endcomment %}

{% if search.performed %}
  
  {% paginate search.results by 8 %}
  
    {% comment %}
    Common pitfall to avoid: search.results should never be accessed before the opening 
    paginate tag. Move the opening and closing paginate tags to the very top and bottom of your
    search.liquid template if you need to.
    If you fail to do the above, the pagination of search results will be broken.
    search.results_count is fine to access in or out of the paginate block.
    {% endcomment %}

    {% if search.results_count == 0 %}  
      Your search for "{{ search.terms }}" did not yield any results.          
    {% else %}
        {% for item in search.results %}      
          <div class="row p-20">
            <div class="col-12 text-left">
            <h3>{{ item.title | link_to: item.url }}</h3>
            </div>
            {% if item.vendor %}
              <div class="col-3 col-sm-2 text-left">
              <a href="{{ item.url }}" title="{{ item.title | escape }}">
                <img class="responsive" src="{{ item | img_url: 'small' }}" alt="{{ item.featured_image.alt }}"/>
              </a>
              </div>
            {% endif %}
            <div class="col-9 col-sm-10 text-left">
            {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }} 
            </div>  
          </div>
        {% endfor %}
    {% endif %}    
    
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  
  {% endpaginate %}    
  
{% endif %}  

  </div>
</section>
